<div [class]="content.track.colour + ' track '" [style.grid-template-columns]="getGradeColumns()">
    <div *ngIf="content.track.secondaryColour" [class]="content.track.secondaryColour + ' secondary-colour'"></div>
    <div *ngIf="content.track.grade" class="grade small-font">{{content.track.grade.french}} ({{content.track.grade.uiaa}})</div>
</div>
<div *ngIf="content.track.number" class="text-padding small-font">#{{content.track.number}}</div>
<img [src]="content.success ? 'assets/thick-check-mark.svg' : 'assets/thick-x.svg'" alt="success mark" class="mark">
<div class="text-padding small-font">{{content.note}}</div>
