:host {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1vw;
    height: min-content;
}

.month-header {
    height: 15vw;
    box-sizing: border-box;
    text-align: center;
    padding: 5.5vw 5vw 4.5vw 5vw;
    font-size: 5vw;
    background-color: #dfeff7;
}

.table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}
