:host {
    display: block;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.header-grid {
    display: grid;
}

.line {
    background-color: #80C6FF;
}

.line-height {
    height: 1vw;
}

.cursor {
    background-color: #FFC680;
}
