:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vw;
    width: 90vw;
    height: min-content;
    margin: 5vw;
}

.workout-header {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-column-gap: 2vw;
}

.workout-header > div {
    padding: 5.25vw 5vw 4.75vw 5vw;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2vw;
}

.options > div {
    padding: 5.25vw 5vw 4.75vw 5vw;
    text-align: center;
}

.note {
    padding: 2vw 1.75vw 1.5vw 1.75vw;
}
