<div class="workout-header middle-font">
  <div [class]="colourClass">{{content.place}}</div>
  <div [class]="colourClass">{{month}}</div>
  <div [class]="colourClass">{{day}}</div>
</div>
<app-attempt *ngFor="let attempt of content.attempts" [content]="attempt"></app-attempt>
<div *ngFor="let note of content.notes" [class]="colourClass + ' note small-font'">{{note}}</div>
<div class="options middle-font">
    <div [class]="colourClass" routerLink="/workout-editor">Edit</div>
    <div [class]="colourClass" (click)="deleteWorkout()">Delete</div>
    <div [class]="colourClass" (click)="unselect()" routerLink="/calendar">Back</div>
</div>
